# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editors
.DS_Store
.vscode/
.idea/
